{% extends 'base.html' %} <!--Наследуем от файла base.html-->

{% block title %} <!-- Обявляем что будет подставляться в шаблон из базе хтмл -->
<title>Подписчики в инстаграм</title>
{% endblock %}


{% block bodyshapka %}

    <header>

        <div class="header">
            <a href="" class="logo">
                <span class="logo_img"></span>
                <span class="logo_text">FireSoc</span></a>
            <nav>
                <ul class="nav">
                    <li><a href="">Instagram</a></li>
                    <li><a href="">YouTube</a></li>
                    <li><a href="">Вконтакте</a></li>
                    <li><a href="">Telegram</a></li>
                    <li><button class="nav_btn" type="button">Войти в ЛК</button></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="page">
        <div class="wrap">
            <h1 class="title-main">Продвижение в Instagram</h1>
            <p class="text-main">Живые подписчики, лайки и другие услуги для вашей страницы Instagram. Комплексное продвижение страниц. Эффективный способ повысить популярность аккаунта.</p>
            <button type="button" class="button">Начать продвижение</button>
        </div>
    </div>
        <div class="page page-top">
            <div class="wrap">
                <h2>Стандартное Качество</h2>
                <div class="quality">
                    <div class="qualitys-item">
                        <img src="" alt="">
                        <div>
                            <h3>Подписчики</h3>
                            <p>Высокое качество 50% из России С аватарками Безопасно: без блокировок Могут проявлять активность Мгновенный запуск заказа</p>
                                            <a href="#popup" class="popup_btn">
                                            <span class="button">Заказать подписчиков</span></a>
                                <div id="popup" class="popup">
                                            <div class="popup_body">
                                                <div class="popup_content">
                                                    <a href="#" class="popup_close">X</a>
                                                    <form class="decor">
                                                        <div class="form-left-decoration"></div>
                                                        <div class="form-right-decoration"></div>
                                                        <div class="circle"></div>
                                                        <div class="form-inner">
                                                        <h3>Написать нам</h3>
                                                        <input type="text" placeholder="Username">
                                                        <input type="email" placeholder="Email">
                                                        <textarea placeholder="Сообщение..." rows="3"></textarea>
                                                        <input type="submit" value="Отправить">
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                </div>
                        </div>
                        </div>
                        <div class="qualitys-item">
                        <img src="" alt="">
                        <div>
                            <h3>Лайки</h3>
                            <p>Высокое качество 50% из России С аватарками Безопасно: без блокировок Могут проявлять активность Мгновенный запуск заказа</p>
                        </div>
                        <div class="qualitys-item">
                        <img src="" alt="">
                        <div>
                            <h3>Комментарии</h3>
                            <p>Высокое качество 50% из России С аватарками Безопасно: без блокировок Могут проявлять активность Мгновенный запуск заказа</p>
                        </div>
                        <div class="qualitys-item">
                        <img src="" alt="">
                        <div>
                            <h3>Просмотры</h3>
                            <p>Высокое качество 50% из России С аватарками Безопасно: без блокировок Могут проявлять активность Мгновенный запуск заказа</p>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        </div>


{% endblock %}

